<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Todos os Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <ion-button *ngIf="!showList" expand="block" (click)="toggleList()">
    Mostrar Todos os Produtos
  </ion-button>
  
  <ion-button *ngIf="showList" expand="block" color="danger" (click)="toggleList()">
    Ocultar Lista de Produtos
  </ion-button>

  <ion-list *ngIf="showList" class="ion-margin-top">
    <ion-item *ngFor="let product of productService.productsList" routerDirection="forward">
      <ion-thumbnail slot="start">
        <img [src]="product.image" alt="{{ product.title }}" />
      </ion-thumbnail>
      <ion-label>
        <h3>{{ product.title }}</h3>
        <p>{{ product.price | currency:'USD' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>